@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-size: clamp(14px, 10vw, 48px);
	color: #333;
}

body {
	min-width: 300px;
	max-width: 1200px;
	width: 100%;
	padding: 1em;
	height: 100%;
	margin: 0;
}

main {
	display: flex;
	flex-direction: row;
}

main div {
	margin: 0.5em;
}

a {
	text-decoration: none;
}

.profile-picture img {
	clip-path: circle(50%);
	height: 5em;
}

.profile-picture p {
	font-size: 0.5em;
	text-align: center;
}

nav {
	margin-top: 2em;
}

nav a {
	margin-right: 0.5em;
}

nav img {
	height: 2em;
	min-height: 80px;
	opacity: 0.75;
	transition: 0.2s;
}

nav img:hover {
	opacity: 1;
}

h1 {
	font-weight: 900;
	margin: 0;
	font-size: 3em;
	letter-spacing: -0.05em;
	display: inline-block;
}
