@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@200;300;500;600&family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap");

:root {
    --font: "Fira Code", Arial, sans-serif;

    --accent-color: #000000;
    --text-color: #c3c3c3;
    --foreground-rgb: 0, 0, 0;

    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background: linear-gradient(50deg, #0f0f0f 50%, #4b4332 100%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    color: var(--text-color);
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
}

body {
    background: var(--background);
    color: var(--text-color);
}

main {
    max-width: 600px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}

.logo {
    height: 2rem;
    width: 2rem;
    margin: 2rem;
    position: fixed;
    color: var(--text-color);
    top: 0;
    left: 0;
}

.three {
    position: fixed;
    z-index: 0;
    top: 0;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-color);
}

svg:hover {
    fill: var(--accent-color);
}

p {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    line-height: 1.5rem;
    font-weight: 100;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
