@import "tailwindcss";

@theme {
    --background-image-gradient-radial: radial-gradient(
        var(--tw-gradient-stops)
    );
    --background-image-gradient-conic: conic-gradient(
        from 180deg at 50% 50%,
        var(--tw-gradient-stops)
    );
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

:root {
    --accent-color: #000000;
    --text-color: #c3c3c3;
    --text-highlight-color: #e2e2e2;
    --foreground-rgb: 0, 0, 0;

    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background: #0b0b0b;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    color: var(--text-color);
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    line-height: 1.25rem;
}

body {
    color: var(--text-color);
    background: var(--background);
}

.logo {
    height: 2rem;
    width: 2rem;
    margin: 2rem;
    position: fixed;
    color: var(--text-color);
    top: 0;
    left: 0;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-color);
}

svg:hover {
    fill: var(--accent-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--text-highlight-color);
}

i {
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
